<h1>Restaurants</h1>
<div class="flex-me">
  <% @restaurants.each do |restaurant| %>
  <div class="restaurant-display">
    <%= link_to restaurant.name, restaurant_path(restaurant), class: "restaurant-content" %>
  </div>
  <% end %>
</div>

<div class="link-box">
  <%= link_to 'Add new restaurant', new_restaurant_path, class: "restaurant-content" %>
</div>
